$yellow-color: #E7DA3E;
$pink-color: #F966EA;
$lightblue-color: #85F2EF;
$purple-shadow: rgba(65, 55, 114, 0.75);

$orange-color: #FF8500;
$blue-color: #5F6BF0;
$darkblue-color: #000077;
$purple-color: #624B9D;

$font-second: 'Rock Salt',
cursive;


@font-face {
    font-family: john-slim-joe;
    src: url("Fonts/BigJohnPRO-Light.otf");
}

@font-face {
    font-family: john-reg-joe;
    src: url("Fonts/BigJohnPRO-Regular.otf");
}

@font-face {
    font-family: john-fat-joe;
    src: url("Fonts/BigJohnPRO-Bold.otf");
}

@mixin font-titel {
    font-family: 'Rock Salt', cursive;
    color: white;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    text-outline: #000077;
    text-outline: rgb(0, 0, 119);
    text-shadow: 3px 2px 1px $purple-shadow;

}

@mixin contact-icon-basics {
    // position: absolute;
    z-index: 97;
    font-size: 1.5vw;
    bottom: 20%;
    background: $yellow-color;
    padding: .7vw;
    border-radius: 50%;
    box-shadow: 0.1vw 0.1vw 0.2vw $purple-shadow;
    border: 0.09vw solid $darkblue-color;
    opacity: 0;
    // width: 25%;
    // height: 25%;
}

@mixin large-box-shadow {
    box-shadow: 0.6vw 0.6vw 0.4vw $purple-shadow;

}

@mixin large-drop-shadow {
    drop-shadow: 0.6vw 0.6vw 0.4vw $purple-shadow;
}

@mixin nav-button {
    font-family: john-reg-joe;
    font-size: 1.5vw;
    width: 8vw;
    height: 2vw;
    // position: absolute;
}


@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0vw);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-0.5vw);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0vw);
    }
}

@keyframes dry-float {
    0% {
        transform: translatey(0vw);
    }

    50% {
        transform: translatey(-0.2vw);
    }

    100% {
        transform: translatey(0vw);
    }
}

@keyframes sfloat {
    0% {
        transform: translatey(0vw);
    }

    55% {
        transform: translatey(-0.2vw);
    }

    100% {
        transform: translatey(0vw);
    }
}

@keyframes blink {
    0% {
        margin-left: 1vw;
    }



    50% {
        margin-left: 0vw;
    }



    100% {
        margin-left: 0vw;
    }



}



* {
    margin: 0;
    box-sizing: border-box;


}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
    background: $lightblue-color;
    overflow: hidden;

}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: relative;

}

// ===================================== LOGO

#circle-frame {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: absolute;
    border: 1vw solid darkcyan;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
    left: 40%;
    top: 2vw;
    box-shadow: 0.2vw 1vw 1vw $purple-shadow;
    animation: float 4s ease-in-out infinite;


    #circle-in {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        box-shadow: 0.2vw 1vw 1vw $purple-shadow, inset 0.2vw 1vw 1vw rgba(65, 55, 114, 0.75);
        z-index: 0;
        left: 1 0%;


    }

    #logo {
        width: 46vw;
        height: 22vw;
        position: relative;
        transition: all .2s cubic-bezier(.56, -0.61, .92, 1.63);
        animation: dry-float 4s ease-in-out infinite;

    }

    .logo-bg {
        width: 110%;
        height: 100%;
        position: absolute;
        top: .5%;
        z-index: 2;


    }

    .logo-name {
        position: absolute;

        width: 95%;
        height: 95%;
        top: 1.4%;
        left: 6%;
        z-index: 3;


        transition: all .2s cubic-bezier(.56, -0.61, .92, 1.63);
        animation: sfloat 4s ease-in-out infinite;

    }

    #logo:hover {
        transform: scale(1.2);
    }

    #logo:hover .logo-name {
        width: 100%;
        height: 100%;
        top: 0%;
        left: 4%;
        z-index: 3;


    }

    #logo:hover .logo-bg {
        top: 2%;
        z-index: 2;

    }

    .titel {
        font-family: 'Rock Salt', cursive;
        color: white;
        letter-spacing: 0.4vw;
        line-height: 2vw;
        text-transform: uppercase;
        text-outline: #000077;

        text-shadow: 0vw 0vw 0.02vw darkblue, 0.2vw 0.1vw 0.1vw $purple-shadow;
        font-size: 1.3vw;

    }

    .intro {
        position: absolute;
        z-index: 110;


        top: 2%;
        left: 10%;
        z-index: 5;
    }

    .outro {
        position: absolute;
        top: 70%;
        left: 30%;
        z-index: 5;


    }
}

// ===================================== NAVIGATION

#nav {

    position: absolute;
    left: 44.5%;
    bottom: 10%;
    z-index: 90;
    width: 10vw;
    height: 10vw;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background: transparent;
    border: 5.5vw solid darkcyan;
    box-shadow: .1vw .4vw 1vw rgba(65, 55, 114, 0.75);


    .ul {
        position: absolute;
        // left: 25%;
        // top: 25%;

        perspective: 100px;
        width: 10vw;
        height: 10vw;
        background: $pink-color;
        border-radius: 50%;
        @include large-box-shadow;
        border: .05vw solid $darkblue-color;

        box-shadow: inset .1vw .4vw 1vw rgba(65, 55, 114, 0.75), .1vw .4vw 1vw rgba(65, 55, 114, 0.75);

        z-index: 92;

        .cont-popup {
            background: $yellow-color;
            border: 0.09vw solid $darkblue-color;
            height: 10vw;
            width: 14vw;
            position: absolute;
            bottom: -200%;
            left: -20%;
            z-index: 95;
            // transform: rotateX(0deg) rotateY(0deg) skew(5deg);
            box-shadow: .2vw .4vw 1vw rgba(65, 55, 114, 0.75);
            border-top-left-radius: 4%;
            border-top-right-radius: 4%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            font-family: john-fat-joe;
            text-transform: uppercase;



            .a-cont {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin: 3.1vw .5vw 0vw .5vw;
                flex-basis: 1;
                padding: .3vw;
                text-decoration: none;
                text-align: center;
                font-size: 0.7vw;
                background: $orange-color;
                border: 0.09vw solid $darkblue-color;
                border-radius: 6%;
                box-shadow: .1vw .15vw .2vw rgba(65, 55, 114, 0.75);






            }

            .con-i {

                font-size: 1.7vw;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: $yellow-color;
                border: 0.09vw solid $darkblue-color;
                border-radius: 50%;
                width: 3.8vw;
                height: 3.8vw;
                margin-bottom: 0.3vw;
                padding-top: 1.1vw;
                box-shadow: .1vw .1vw .3vw rgba(65, 55, 114, 0.75);



            }

            .con-i:hover {
                background: $blue-color;
                border: 0.09vw solid $darkblue-color;
                color: $yellow-color;
                font-size: 1.7vw;
                box-shadow: .05vw .05vw .2vw rgba(65, 55, 114, 0.75);


            }


        }




    }


    li {
        list-style: none;
        @include large-drop-shadow;





    }

    .button {
        @include nav-button;
        background: $orange-color;
        border: 0.02vw solid $darkblue-color;
        @include large-box-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;

        &:hover {
            box-shadow: 0.1vw 0.1vw 0.4vw $purple-shadow;
            margin: 0.1vw 0.1vw 0vw 0vw;

        }
    }

    .cont-about {
        position: absolute;
        left: 18%;
        top: 7%;
        transform: rotateY(10deg);
        z-index: 95;

    }

    .cont-work {
        position: absolute;
        right: 10%;
        top: 27%;
        transform: rotateY(12deg);
        z-index: 96;

    }

    .cont-skills {
        position: absolute;
        left: 20%;
        top: 47%;
        transform: rotateX(6deg) rotateY(16deg);
        z-index: 97;

    }

    .cont-contact {
        position: absolute;
        left: 0%;
        top: 65%;
        transform: rotateX(8deg) rotateY(-2deg);
        z-index: 96;
        font-size: 0.5vw;

    }



    .button-contact {
        width: 10vw;
        transition: width .2s ease-in-out;
        justify-content: flex-start;




    }
}

// ===================================== SKILLS
#yellow {
    height: 100%;
    width: 100%;
    background: $yellow-color;
    border-right: 1.21vw solid $purple-color;
    border-left: 1.21vw solid $purple-color;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    z-index: 60;
    right: 100%;


    transform: skew(20deg);

    #skills {
        // height: 52vw;
        width: 50vw;



        // position: absolute;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 18vw;
        margin-right: 14vw;

        flex-wrap: wrap;
        transform: skew(-20deg);


        z-index: 110;

        top: 25%;
        left: 35%;


        .icon-cont {

            height: 40vw;
            width: 100%;



            div {

                position: relative;
                width: 10vw;
                height: 100%;
                display: inline;


                &:hover img {
                    transform: scale(1.3);
                    opacity: 0.4;



                }

                &:hover .tooltip {
                    opacity: 1;
                    width: 130%;
                }

                img {
                    width: 6vw;
                    margin: 2vw;
                    // border: .5vw solid black;
                    // border-radius: 50%;
                    transition: all .3s cubic-bezier(.56, -0.61, .92, 1.63);




                }

                .tooltip {
                    text-align: center;
                    font-family: john-fat-joe;
                    font-size: 1.5vw;
                    transition: all .5s cubic-bezier(.56, -0.61, .92, 1.63);
                    opacity: 0;
                    padding: 0.5vw;
                    box-shadow: 0.1vw 0.2vw 0.3vw $blue-color;


                    color: $darkblue-color;

                    position: absolute;
                    bottom: 320%;
                    left: -16%;
                    // height: 3vw;
                    width: 0%;
                    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAALklEQVQYV2P8mfbqPwMUsM8SY2SECPxvZJ8l3gASBwuAZECcn2kvG8AMGAdEAwDUBBOVnU/a+wAAAABJRU5ErkJggg==");
                    border: 0.2vw solid $darkblue-color;

                    border-radius: 4%;


                    padding: 0vw 0vw;





                }



                // .lastline {
                //     position: absolute;
                //     bottom:255%;
                //     left: 50%;
                // }

                .scrumtool {
                    position: absolute;

                    left: -29%;
                }


                .sass {
                    width: 6vw;



                }

                .illustrator {
                    width: 6.2vw;
                }

                .ae {
                    width: 5.85vw;
                }

                .scrum {
                    width: 10vw;
                }
            }
        }
    }

}

// ===================================== ABOUT

#blue {
    height: 52vw;
    width: 100%;
    background: transparent;

    overflow: scroll;


    position: absolute;
    z-index: 50;

    #about {
        width: 50%;

        padding-top: 18vw;

        display: flex;
        flex-direction: column;
        align-items: flex-end;


        position: absolute;
        z-index: 50;

        top: 20%;
        left: 35%;

    }

    .text-box {
        height: 15vw;
        width: 70%;

        position: relative;
        z-index: 55;


        margin-bottom: 15vw;

        transform: skewX(-5deg);

        background: $lightblue-color;
        opacity: 0;
        border: 0.2vw solid $darkblue-color;

        @include large-box-shadow;

        .text-box-titel {


            padding: 1vw 1vw 1vw 1vw;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: start;

            position: absolute;
            z-index: 56;
            bottom: 90%;
            height: 24%;

            background: $lightblue-color;
            border: 0.2vw solid $darkblue-color;
            color: $darkblue-color;

            font-family: john-fat-joe;
            font-size: 2vw;
            text-transform: uppercase;
            @include large-box-shadow;


        }

        .box-one {
            width: 21%;
            right: 83%;

        }

        .box-two {
            width: 37%;
            right: 68%;
        }

        .box-three {
            width: 65%;
            right: 40%;
        }

        .box-four {
            width: 72%;
            right: 33%;
        }

        .box-five {
            width: 55%;
            right: 50%;
        }

        .text-box-text {
            height: 100%;
            width: 100%;
            padding: 2vw;
            text-align: justify;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            justify-content: center;

            font-size: 1.6vw;
            font-family: john-reg-joe;
            color: $darkblue-color;

        }



        &:after {
            content: "";
            height: 100%;
            width: 100%;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQYV2P8DwQMQMAIBCAazMYqCJNFpuFaQDpgRsAFYSpBkgBpdxACW4HJzgAAAABJRU5ErkJggg==");
            background-repeat: repeat;
            opacity: 0.3;

            position: absolute;
            z-index: 54;

            top: 2.5%;
            left: 1.5%;
        }

    }

}

// ===================================== WORK 
#pink {
    height: 100%;
    width: 100%;
    background: $pink-color;
    border-left: 2vw solid $purple-color;
    border-right: 2vw solid $purple-color;
    position: absolute;
    z-index: 60;

    left: 120%;

    transform: skew(60deg);


}


// ==================================== MEDIA QUERIES

@media screen and (max-width: 480px) {

    body {
        height: 100vh;
        width: 100vw;
        // background: $lightblue-color;
        // overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #yellow,
    #blue,
    #pink {
        display: initial;
    }

    #container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }

    #circle-frame {
        width: 80vw;
        height: 80vw;
        border-radius: 50%;
        border: 1vw solid darkcyan;
        background: transparent;
        display: absolute;
        justify-content: center;
        align-items: center;
        z-index: 110;
        margin-left: -30vw;
        margin-top: 15vh;
        // top: 2vw;
        box-shadow: 0.2vw 1vw 1vw $purple-shadow;
        animation: float 4s ease-in-out infinite;


        #circle-in {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: lightblue;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            box-shadow: 0.2vw 1vw 1vw $purple-shadow, inset 0.2vw 1vw 1vw rgba(65, 55, 114, 0.75);
            z-index: 0;


        }

        #logo {
            width: 100%;
            height: 100%;
            position: relative;
            transition: all .2s cubic-bezier(.56, -0.61, .92, 1.63);
            animation: dry-float 4s ease-in-out infinite;

        }

        .logo-bg {
            width: 110%;
            height: 100%;
            position: absolute;
            top: .5%;
            z-index: 2;


        }

        .logo-name {
            position: absolute;

            width: 100%;
            height: 100%;
            top: 0%;
            left: 6%;
            z-index: 3;

            transition: all .2s cubic-bezier(.56, -0.61, .92, 1.63);
            animation: sfloat 4s ease-in-out infinite;

        }

        #logo:hover {
            transform: scale(1.2);
        }

        #logo:hover .logo-name {
            width: 100%;
            height: 100%;
            top: 0%;
            left: 4%;
            z-index: 3;


        }

        #logo:hover .logo-bg {
            top: 2%;
            z-index: 2;

        }

        .titel {
            font-family: 'Rock Salt', cursive;
            color: black;
            letter-spacing: 0.4vw;
            line-height: 6vw;
            text-transform: uppercase;
            text-outline: #000077;

            text-shadow: 0vw 0vw 0.02vw darkblue, 0.2vw 0.1vw 0.1vw $purple-shadow;
            font-size: 4.3vw;

        }

        .intro {
            position: absolute;
            z-index: 110;


            top: 9%;
            left: 10%;
            z-index: 5;
        }

        .outro {
            position: absolute;
            top: 70%;
            left: 30%;
            z-index: 5;


        }
    }

    #nav {

       
        width: 100%;


        border-radius: 0%;
        position: absolute;
        bottom: 0%;
        left: 0%;
        

        border: 0vw solid darkcyan;


        .ul {
            width: 100%;
            display: flex;
            justify-content: center;
            border-radius: 0%;
            align-content: center;
            padding: 0;
           
            .cont-popup {
                height: 30vw;
                width: 90vw;
                background: $yellow-color;
                border: 0.21vw solid $purple-color;
                border-radius: 0%;
                bottom: -200%;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                font-family: john-fat-joe;
                text-transform: uppercase;
                z-index: 89;

                .a-cont {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    margin: 3.1vw .5vw 0vw .5vw;
                    flex-basis: 1;
                    padding: .3vw;
                    width: 30%;
                    height: 80%;                    
                    text-decoration: none;
                    text-align: center;
                    font-size: 3.7vw;
                    background: $orange-color;
                    border: 0.09vw solid $darkblue-color;
                    border-radius: 2%;
                    box-shadow: .1vw .15vw .2vw rgba(65, 55, 114, 0.75);
    
    
    
    
    
    
                }
    
                .con-i {
                    font-size: 6.7vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    background: $yellow-color;
                    border: 0.09vw solid $darkblue-color;
                    border-radius: 50%;
                    margin-bottom: 1vh;
                    width: 12vw;
                    height: 12vw;
                    padding-top: 1.1vw;
                    box-shadow: .1vw .1vw .3vw rgba(65, 55, 114, 0.75);
    
    
    
                }
    
               
    
            }



        }


        .li {
            list-style: none;
            @include large-drop-shadow;
            display: flex; 
            flex-direction: row;
            transform: rotateX(0deg) rotateY(0deg);
            width: 25vw;
            position: initial;
            align-items: left;
z-index: 90;



        }

        .button {
            font-family: john-reg-joe;
            font-size: 1.5vw;
            height: 100%;
            width: 25vw;

            text-align: center;
            
            background: $orange-color;
            border: 0.02vw solid $darkblue-color;

            @include large-box-shadow;
            outline: none;
            font-size: 4vw;
            font-family: john-fat-joe;
           
        }

        
    
        
    

       
    }

    #yellow {
        height: 85%;
        width: 80%;
        background: $yellow-color;
        border: 1.21vw solid $purple-color;
        border-radius: 2%;
       
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        // position: absolute;
        // z-index: 60;
        // right: 100%;
    
    
        transform: skew(0deg);
    
        #skills {
            height: 100%;
            width: 100%;
    background: $yellow-color;
    
    
            // position: absolute;
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
           
    padding: 0;
    margin: 0;
            // flex-wrap: wrap;
            transform: skew(0deg);
    overflow: scroll;
    
            z-index: 110;
    
           
    
    
            .icon-cont {
    
                height: 100%;
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-top: 10%;
                padding-left: 10%;
    
    
    
    
                div {
    
                    position: relative;
                    width: 10vw;
                    height: 100%;
                    display: inline;
    
    
                    &:hover img {
                        transform: scale(1.3);
                        opacity: 0.4;
    
    
    
                    }
    
                    &:hover .tooltip {
                        opacity: 1;
                        width: 130%;
                    }
    
                    img {
                        width: 25vw;
                        margin: 2vw;
                        // border: .5vw solid black;
                        // border-radius: 50%;
                        transition: all .3s cubic-bezier(.56, -0.61, .92, 1.63);
    
    
    
    
                    }
    
                    .tooltip {
                        // text-align: center;
                        // font-family: john-fat-joe;
                        // font-size: 1.5vw;
                        // transition: all .5s cubic-bezier(.56, -0.61, .92, 1.63);
                        // opacity: 0;
                        // padding: 0.5vw;
                        // box-shadow: 0.1vw 0.2vw 0.3vw $blue-color;
    
    
                        // color: $darkblue-color;
    
                        // position: absolute;
                        // bottom: 320%;
                        // left: -16%;
                        // // height: 3vw;
                        // width: 0%;
                        // background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAALklEQVQYV2P8mfbqPwMUsM8SY2SECPxvZJ8l3gASBwuAZECcn2kvG8AMGAdEAwDUBBOVnU/a+wAAAABJRU5ErkJggg==");
                        // border: 0.2vw solid $darkblue-color;
    
                        // border-radius: 4%;
    
    
                        // padding: 0vw 0vw;
    
    
    
    
    
                    }
    
    
    
                    // .lastline {
                    //     position: absolute;
                    //     bottom:255%;
                    //     left: 50%;
                    // }
    
                    .scrumtool {
                        position: absolute;
    
                        left: -29%;
                    }
    
    
                    .sass {
                        width: 25vw;
    
    
    
                    }
    
                    .illustrator {
                        width: 26.3vw;
                    }
    
                    .ae {
                        width: 25vw;
                    }
    
                    .scrum {
                        width: 38vw;
                        margin-left: 3.5%;
                    }
                }
            }
        }
    
    }
    
    #blue {
        height: 85%;
        width: 80%;
        background: transparent;
        border: 1.21vw solid $purple-color;
        border-radius: 2%;
        overflow: scroll;
        right: 100%;
    
        position: absolute;
        z-index: 50;
    
        #about {
            width: 50%;
    
            padding-top: 18vw;
    
            display: flex;
            flex-direction: column;
            align-items: flex-end;
    
    
            position: absolute;
            z-index: 50;
    
            top: 20%;
            left: 35%;
    
        }
    
        .text-box {
            height: 15vw;
            width: 70%;
    
            position: relative;
            z-index: 55;
    
    
            margin-bottom: 15vw;
    
            transform: skewX(-5deg);
    
            background: $lightblue-color;
            opacity: 0;
            border: 0.2vw solid $darkblue-color;
    
            @include large-box-shadow;
    
            .text-box-titel {
    
    
                padding: 1vw 1vw 1vw 1vw;
    
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: start;
    
                position: absolute;
                z-index: 56;
                bottom: 90%;
                height: 24%;
    
                background: $lightblue-color;
                border: 0.2vw solid $darkblue-color;
                color: $darkblue-color;
    
                font-family: john-fat-joe;
                font-size: 2vw;
                text-transform: uppercase;
                @include large-box-shadow;
    
    
            }
    
            .box-one {
                width: 21%;
                right: 83%;
    
            }
    
            .box-two {
                width: 37%;
                right: 68%;
            }
    
            .box-three {
                width: 65%;
                right: 40%;
            }
    
            .box-four {
                width: 72%;
                right: 33%;
            }
    
            .box-five {
                width: 55%;
                right: 50%;
            }
    
            .text-box-text {
                height: 100%;
                width: 100%;
                padding: 2vw;
                text-align: justify;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                justify-content: center;
    
                font-size: 1.6vw;
                font-family: john-reg-joe;
                color: $darkblue-color;
    
            }
    
    
    
            &:after {
                content: "";
                height: 100%;
                width: 100%;
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQYV2P8DwQMQMAIBCAazMYqCJNFpuFaQDpgRsAFYSpBkgBpdxACW4HJzgAAAABJRU5ErkJggg==");
                background-repeat: repeat;
                opacity: 0.3;
    
                position: absolute;
                z-index: 54;
    
                top: 2.5%;
                left: 1.5%;
            }
    
        }
    
    }
    
    #pink {
        height: 85%;
        width: 80%;
        background: transparent;
        border: 1.21vw solid $purple-color;
        border-radius: 2%;
    
        background: $pink-color;
        
        position: absolute;
        z-index: 60;
        // top: 0%;
        // left: 50%;
    
    
        transform: skew(0deg);
    
    
    }

}



